.focus:focus {
  color: red;
}

.answers {
  background-color: #1b32b6; /* Green */
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  padding: 5vh;
  margin: 2vh;
  border: 1px solid #ffff;
  display: block;
  width: 100vw;
}
